html{
    background-image:url(../multimedia/img/bosqueTitulo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    width: 100%;
    height: 100%;
}

header {
    padding: 2px;
    background-image:url(../multimedia/img/bosqueTitulo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    padding: 80px;
}

body{
    background-color: #344e41;
    text-align: center;
    color: white;
}

.btn-group{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "btn btn-success btn btn-danger btn btn-warning";
    height: auto;
    margin: 10px;
    max-width: 90% ;
}

.btn{
    margin: 10px
}

.containerForms{
    display: none;
}

input{
    background-color: #588157 ;
}

textarea{
    background-color: #588157 ;
    width: 100%;
    border: 6px solid #353d39;
    
}

footer {
    background-color: #353d39;
    text-align: center;
    color: #b1bdc7;
}

h1{
    font-family: "Ballet", cursive;
    font-size: 100px;
}


a{
    font-family: "Ballet", cursive;
    font-size: 75px;
    color: white;
}

.form-container {
    display: none;
    margin-top: 1rem;
}

@media (max-width: 1440px) {
    
    html{
        height: 100%;
    }

    .btn-group{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "btn btn-success btn btn-danger btn btn-warning";
        height: auto;
        margin: 10px;
        max-width: 90% ;
    }
    

}
