header {
    background-color: #B17457;
    text-align: center;
    color: #D8D2C2;
}

html {
    background-color: #D8D2C2;
    padding: 0.3cm;
}

nav {
    line-height: 200%;
    background-color: #faf0d8;
}

ul.menu li {
    color: #4A4947;
    display: inline;
    padding-right: 1cm;
}

aside {
    float: right;
    background-color: #B17457;
    border-style: solid;
    text-align: justify;
    width: 8cm;
    height: 54cm;
    padding: 0.2cm;
}

#textoAside {
    text-align: justify;
    color: #D8D2C2;
    font-size: 1.3em;
}

#redes img {
    padding: 0.5cm
}

main {
    margin-right: 10cm;
    margin-left: 1cm;
}

#textoBienvenida {
    text-align: justify;
}

#videos {
    text-align: center;
}

h2 {
    background-color: #B17457;
    text-align: center;
    color: #D8D2C2;
}

#cursos {
    display: flex;
    flex-wrap: wrap;
}

.curso {
    display: flex;
    border-style: solid;
    background-color: #faf0d8;
}

.cursotexto {
    text-align: justify;
    padding-left: 1cm;
    padding-right: 1cm;
    border-left-style: solid;
}

#cursos img {
    height: auto;
    padding: 0.2cm;
    margin-right: 20%;
}

#mapa {
    display: flex;
}

footer {
    background-color: #4A4947;
    color: #D8D2C2;
    text-align: center;
}