html{
    background-image:url(../multimedia/img/bosqueTitulo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px; 
    width: 100%;
    height: 100%;
}

header {
    padding: 2px;
    background-image:url(../multimedia/img/bosqueTitulo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;   
    padding: 80px;
}

.container {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "main login"
        "puntajes puntajes";
    height: auto;
    width: 100%;
    padding: 0%;
    background-color: #344e41;
}

.main {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto; 
    gap: 0px 0px; 
    grid-template-areas: 
      "texto"
      "boton"; 
    grid-area: main;
    zoom: 150%;
}     

.main {
    grid-area: main;
    color: white;
}

.texto { 
    font-family: "Iceberg", sans-serif;
    grid-area: texto; 
    text-align: justify;
    padding: 20px;
}

.boton { 
    grid-area: boton;
    text-align: center;
}

.login {
    grid-area: login;
    background-color: #dad7cd;
    text-align: center;
    border-radius: 20px;
    margin: 20px;
    zoom: 130%;
    max-width: 100%;

}

.inputLogin{
    margin: 3px;
    max-width: 100%;
    box-sizing: border-box;
}

.puntajes {
    grid-area: puntajes;
    background-color: #dad7cd;
    padding: 10px;
}
.table-striped{
    border: solid #588157;
}
thead{
    background-color: #588157 ;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #dad7cd;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #a3b18a;
}

h1{
    font-family: "Ballet", cursive;
    font-size: 100px;
}

h3{
    font-family: "Iceberg", sans-serif;
}

footer {
    background-color: #353d39;
    text-align: center;
    color: #b1bdc7;
}

@media (max-width: 1440px) {
    .container{
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "main"
    "login"
    "puntajes";
    }
    .main, .login , .puntajes{
        width: 100%;
    }

    .main{
        font-size: 25px;
    }

    .login{
        max-width: 90%;
    }
    
    html{
        zoom: 125%;
        height: 100%;
    }

    .btn{
        font-size: 30px
    }
}



